.grid-container {
    display: grid;
    grid-template: auto / 1fr 2fr 1.5fr;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;

}

.grid-item {
    position: relative;
    min-height: 150px;
    background-color: rgb(147, 147, 238);
}

.logo {
    grid-column-start: 1;
    grid-column-end: 2;
}

.menu {
    grid-column: 2 / 4;
}

.main {
    grid-column: 1 / 3;
    grid-row: 2/16;

}

.sponsors,
.footer {
    grid-column: 1 / 4;

}

.aside {
    grid-row: 2 /16;
}

.sponsors {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item1 {
    
}

.text1 {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    margin: 10px;
    padding: 10px;
    height: 50px;
    width: 50px;
    color: white;
}

.sponsors {
    width: 100%;
}

p {
    position: absolute;
    margin: auto;
}

.inner-box {
    border: 1px solid black;
    width: 15%;
    height: 50px;
    float: left;
    margin-left: 2.3%;
    margin-right: 2.4%;
}